@import 'reset-css/less/reset.less';

#app,
html,
body {
  height: 100%;
  width: 100%;
}
#app {
  padding-bottom: 50px;
}
.dfx {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dfx-dc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
