@import 'reset-css/less/reset.less';

#app,
html,
body {
  height: 100%;
  width: 100%;
}

.dfx {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dfx-dc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// 动画盒子  不要动下面属性
.animt-css3 {
  width: 100%;
  height: 100%;
}

.fade-enter-active {
  animation: fade-in 0.5s;
}
.fade-leave-active {
  animation: fade-out 0.01s;
}
@keyframes fade-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fadess-enter-active {
  // animation: fadess-in 0.5s;
}
.fadess-leave-active {
  animation: fadess-out 0.5s;
}
@keyframes fadess-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes fadess-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
